{% extends "songs/base3.html" %}
{% load static %}
{% block content %}

<section class= "container">
  <div class="row text-center ml-4 py-3">
   <img src="{% static 'songs/7.jpg' %}" class ="img-fluid" alt="music" >
  </div>
  <div class="row text-center ml-3 mb-3"id ="login">
            <h2>{{ error }}</h2>
       <br>
      <form method = "POST">
        {% csrf_token %}
      {{ form.as_p }}
      <button type ="submit" class="btn btn-info">Login</button>
      </form>
  </div>
</section>

{% endblock %}
