{% extends 'songs/base2.html' %}
{% load static %}
{% block content %}

<section class="container-fluid " >
    <div class= "container-fluid py-2 ">
      <img class="img-fluid" src="{% static 'songs/4.jpg' %}" alt="music" >
      <br>
    </div>
</section>

<section class="container-fluid py-2"  id = "signup">
  <div class="container-fluid py-2">
      <h2>{{ error }}</h2>

      <form  method = "POST">
        <div class="form-group">
          {% csrf_token %}
          {{ form.as_p }}

          <button type ="submit" class="btn btn-info"">Sign Up</button>
        </div>
      </form>
  </div>
</section>


{% endblock %}
